body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: orange;

}

#Buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 600px;
}

#Buttons > button {
    margin: 5px;
    width: 250px;
}

#Buttons > button:hover {
    background-color: rgb(44, 44, 44);
    color: aliceblue;
}

#Main {
    width: 600px;
    height: 500px;
    background-color: #f0f2f1;
}

#Jordklode {
    position: absolute;
    bottom: 70px;
    left: 200px;
}

#Måne {
    position: absolute;
    top: 200px;
    right: 160px;
}

#Romferge {
    position: absolute;
    bottom: 220px;
    left: 249px;

    animation: Maanelanding 2s forwards;
}

@keyframes Maanelanding {
    0% {
        bottom: 220px;
    }
    100% {
        bottom: 300px;
    }
}