body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: orange;

}

#Buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 600px;
}

#Buttons > button {
    margin: 5px;
    width: 250px;
}

#Buttons > button:hover {
    background-color: rgb(44, 44, 44);
    color: aliceblue;
}

#Main {
    width: 600px;
    height: 500px;
    background-color: #f0f2f1;
}

#Jordklode {
    position: relative;
    bottom: -320px;
    left: 40px;
}

#Maane {
    position: relative;
    top: -25px;
    left: 420px;
}

#Romferge {
    position: relative;
    bottom: 40px;
    left: 90px;

    animation: Maanelanding 10s infinite;
    animation-play-state: paused;
}

@keyframes Maanelanding {
    0% {
        bottom: 40px;
        left: 90px;
    }
    25% {
        bottom: 260px;
    }
    35% {
        left: 455px;
    }
    50% {
        bottom: 228px;
    }
    55% {
        bottom: 228px;
        left: 455px;
    }
    75% {
        bottom: 260px;
    }
    85% {
        left: 90px;
    }
}