body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: orange;
}

#Buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 600px;
}

#Buttons > button {
    margin: 5px;
    width: 250px;
}

#Buttons > button:hover {
    background-color: rgb(44, 44, 44);
    color: aliceblue;
}

#Main {
    width: 600px;
    height: 500px;
    background-color: #f0f2f1;
}

#Jordklode {
    position: relative;
    bottom: -320px;
    left: 40px;
}

#Maane {
    position: relative;
    top: 100px;
    left: 250px;
}

#Romferge {
    position: relative;
    bottom: -170px;
    left: -190px;

    animation: Maanelanding 10s infinite;
    animation-play-state: paused;
}

@keyframes Maanelanding {
    0% {
        transform: translate(0, 0);
    }
    10% {
        transform: translate(0, -50px);
    }
    15% {
        transform: translate(0, -50px) rotate(50deg);
    }
    35% {
        transform: translate(350px, -230px) rotate(50deg);
    }
    40% {
        transform: translate(350px, -230px) rotate(0deg);
    }
    50% {
        transform: translate(350px, -190px) rotate(0deg);
    }
    60% {
        transform: translate(350px, -230px) rotate(0deg);
    }
    65% {
        transform: translate(350px, -230px) rotate(-125deg);
    }
    85% {
        transform: translate(0, -50px) rotate(-125deg);
    }
    90% {
        transform: translate(0, -50px) rotate(0deg);
    }
}