:root {
    --color-palette-darkpurple: 90, 80, 161;
    --color-palette-purple: 82, 72, 156;
    --color-palette-aqua: 89, 195, 195;
    --color-palette-ruby: 216, 30, 91;

    --hangman-stroke-color: #333
}

body {
    font-family: monospace;
}

main {
    display: grid;

    place-content: center;
}

button {
    background-color: rgb(var(--color-palette-darkpurple));
    border-color: transparent;
    color: inherit;

    transition: background-color 300ms ease-in, scale 150ms ease-in-out;
}

button:hover {
    background-color: rgb(var(--color-palette-ruby));
}

button:active {
    scale: 95%;
}

#Content {
    padding: .5rem 5rem;

    color: rgb(var(--color-palette-aqua));

    background: linear-gradient(
        150deg,
        rgb(var(--color-palette-purple)),
        rgb(112, 80, 166),
        rgb(190, 101, 190)
    );

    animation: BackgroundScrollAnim 3s linear infinite;
}

input {
    background-color: transparent;

    border-width: 5px;
    border-color: linear-gradient(
        to left
    );
}

input:focus {
    outline: none;
}