:root {
    --color-palette-darkpurple: 247, 40%, 35%;
    --color-palette-purple: 247, 37%, 45%;
    --color-palette-aqua: 180, 47%, 56%;
    --color-palette-ruby: 340, 76%, 48%;
}

body {
    font-family: monospace;
}

main {
    display: grid;

    place-content: center;
}

button {
    background-color: hsl(var(--color-palette-darkpurple));
    border-color: transparent;
    color: inherit;

    transition: background-color 300ms ease-in, scale 150ms ease-in-out;
}

button:hover {
    background-color: hsl(var(--color-palette-ruby));
    scale: 105%;
}

button:active {
    scale: 100%;
}

#Content {
    min-width: 40ch;
    width: 60vh;

    padding: 1rem 5rem;

    color: hsl(var(--color-palette-aqua));

    background: linear-gradient(
        150deg,
        hsl(var(--color-palette-purple)),
        hsl(262, 35%, 48%),
        hsl(300, 41%, 57%)
    );

    animation: BackgroundScrollAnim 3s linear infinite;
}

input {
    background-color: transparent;

    border-width: 5px;
    border-color: linear-gradient(
        to left
    );
}

input:focus {
    outline: none;
}